.action:before{
    content: "";
    background-color: #FF3864;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.action{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}