.banner-home {
    background-image: url(../../assets/img/test-2-background-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center center;
}

.banner-home .main-title{
    text-shadow: 1px 1px 2px #fff;
    text-align: left;
}

.banner-home .divp1 {
   width: 70%
}

.banner-home .wrapper{
    text-align: justify;
    padding: 110px;
}