.banner {
    background-color: #000;
    background-image: url(../../assets/img/png-ícone-opaco.png);
    background-repeat: no-repeat;
    height: 70vh;
    background-size: 40%;
    background-position: center center;
    border-bottom: 10px solid #000;
    padding-top: 130px;
    padding-left: 130px;
    padding-right: 130px;
}

.banner .wrapper{
    display: inline-block;
    flex-direction: column;
}