.banner {
    background-color: #000;
    background-image: url(../../assets/img/png-ícone-opaco.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    border-bottom: 10px solid #000;
    padding: 130px;
    border-bottom: 10px solid #232321;
}

.banner .main-title{
    text-shadow: 1px 1px 2px #fff;
    text-align: left;
}

.banner .wrapper{
    text-align: justify;
}