.button-priority {
    display: inline-block;
    background-color: #FF3864;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: background-color linear 250ms;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button-priority:hover {
    background-color: #b4426d;
}