.header{
    display: flex;
    justify-content: space-between;
    background-color: #58B19F;
    align-items: center;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}