.header{
    display: flex;
    justify-content: space-between;
    background-color: #0676C2;
    align-items: center;
    border-bottom: 10px solid #232321;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "MontSerrat";
}