::-webkit-progress-value{
    background-color: #FF3864;
    border-radius: 2px 0 0 2px;
}

::-webkit-progress-bar{
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
    border-radius: 8px;
}