.section{
    background-color: #0676C2;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 3px solid #ccc;
}

.section .main-title{
    margin-bottom: 60px;
}

.section.-projects{
    background-color: #232321;
}

.section.-sobre{
    justify-content: center;
}
