.section{
    background-color: #001;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 3px solid #ccc;
}

.section.-sobre{
    justify-content: center;
}

.section.-skills{
    background-image: url(../../assets/img/test-background-skills.png);
    background-position: center;
}

.section .main-title{
    margin-bottom: 60px;
}

.section.-projects{
    background-color: #232321;
}
