.skills-tec{
    display: flex;
    font-family: "Tilt Neon";
    font-size: 25px;
    color: #fff;
}

.skills-tec .icon{
    margin-right: 25px;
}

.skills-tec .rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}